.main {
  max-width: 720px;
}

.tab-header > ul {
  display: flex;
}

.tab-header > ul > li {
  flex-grow: 1;
  list-style-type: none;
  padding: 20px;
  border-bottom: 1px solid black;
}

.tab-header .active {
  background-color: blue;
  position: relative;
}

.tab-header .active::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid blue;
}

.tab-content > section {
  display: none;
}

.tab-content > section.active {
  display: block;
}
